.loginForm {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

.loginInput {
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #D5D4D4;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginInput::placeholder {
    color: #9A9A9A;
}

.loginButton {
    box-sizing: border-box;
    width: 35%;
    height: 50px;
    color: #F5757C;
    background: #FFFFFF;
    border: 2px solid #F5757C;
}